[2016-02-11 11:30] mrandi opened #1 "implement customer login"

[2016-02-11 12:58] harti2006 opened #2 "Plan-B-API: create the REST interface"
according to [Swagger definition](https://github.com/zalando/planb-provider/blob/master/src/main/resources/api/plan-b-api.yml)

[2016-02-12 13:15] #2 closed

[2016-02-15 11:28] Jan-M opened #6 "Cassandra Model changes: Add Auditing columns"
I would consider moving the "realm" into the partition key, (user,realm) is the real identity.

Second please add created_by / last_modified_by fields where applicable and consider also splitting row for user up into multiple rows for "traceability".

[2016-02-15 13:38] harti2006 opened #7 "API Security"
The goal is to:
move /clients and /users to a common prefix, e.g. /raw-sync and do proper OAuth2 Token validation for incoming requests.

[2016-02-15 17:30] hjacobs opened #8 "NPE if "scope" is not given"
https://github.com/zalando/planb-provider/blob/c1e6b2877a44ac4dd34b0b352d22ca058065a72e/src/main/java/org/zalando/planb/provider/OIDCController.java#L64

[2016-02-15 17:34] hjacobs opened #9 "Illegal base64 character 20"
The "Authorization" header contains a "Basic " prefix which is not removed: https://github.com/zalando/planb-provider/blob/c1e6b2877a44ac4dd34b0b352d22ca058065a72e/src/main/java/org/zalando/planb/provider/OIDCController.java#L67

[2016-02-15 18:19] hjacobs opened #10 "Support newer bcrypt salt revisions"
We need to support "newer" BCrypt salt revisions. Currently the Spring BCrypt class only works with "$2a" prefix, but e.g. Python generates a different salt prefix:

[code]

The error from the Access Token endpoint is:
[code]

[2016-02-15 18:19] hjacobs commented on #10
Proposal: just replace any "2b" or "2y" prefix in Java with "2a" --- that works :smirk: !

[2016-02-15 19:02] hjacobs opened #11 "Missing key Id in the JWT header"
The generated JWT tokens currently do not contain the required `kid` field in the JWT header.

[2016-02-15 19:48] #9 closed

[2016-02-15 20:03] hjacobs commented on #10
See https://en.wikipedia.org/wiki/Crypt_(C)#Blowfish-based_scheme for the known key prefixes.

[2016-02-15 20:05] hjacobs commented on #11
@sarnowski I guess this will be fixed by your next push?

[2016-02-15 20:06] hjacobs commented on #10
Fixed in https://github.com/zalando/planb-provider/commit/51a36efd57d2d907d7ecfdaaede7ef79cad36b9a by replacing "new" prefixes with the old "$2a" one.

[2016-02-15 20:06] #10 closed

[2016-02-15 20:06] hjacobs commented on #8
NPE was mitigated, but we still need to handle the empty case and return the "default" scopes (whatever they are...)

[2016-02-15 21:02] lmineiro commented on #8
Configurable, per realm

[2016-02-16 09:46] hjacobs commented on #6
We just discussed this with @lmineiro @sarnowski and @harti2006:

* We will not add the "realm" to the partition key (this would prevent some query use cases)
* We will add `created_by` and `last_modified_by` fields with "<REALM>/<UID>" (we don't need the `created` and `last_modified` fields as Cassandra has implicit timestamps)
* We will also use a user defined type for the passwords to store met

[2016-02-16 15:55] #7 closed

[2016-02-17 07:53] sarnowski commented on #11
fixed

[2016-02-17 07:53] #11 closed

[2016-02-17 07:54] sarnowski commented on #8
There are just no default scopes right now, so list will be empty. The JWT will carry the subject anyway and is sufficient enough for authentication.

[2016-02-17 07:54] #8 closed

[2016-02-17 07:55] #1 closed

[2016-02-17 19:41] hjacobs opened #16 "Keys inserted into Cassandra with future "valid_from" will not get "active" as signing keys"
The following line prevents re-evaluation of valid signing keys, because "changes" in Cassandra (time advances, `valid_from` gets reached): https://github.com/zalando/planb-provider/blob/master/src/main/java/org/zalando/planb/provider/OIDCKeyHolder.java#L114

[2016-02-17 21:00] hjacobs commented on #16
As inserting future keys will be the default operation for key rotation, this should be fixed :smile:

[2016-02-17 21:55] hjacobs opened #17 ""ES256" key not working"
I'm not sure where the problem lies (key was generated by openssl), but I get an error after inserting an "ES256" JWK:

[code]

[2016-02-17 22:02] hjacobs commented on #17
Apparently I used the wrong curve: the OpenSSL name is "prime256v1"

[2016-02-17 22:02] #17 closed

[2016-02-18 08:36] sarnowski commented on #16
Definitively a logic bug, I am on it.

[2016-02-18 09:56] #16 closed

[2016-02-19 08:52] hjacobs opened #19 "Support non-base64 encoded BCrypt hashes.."
..as we don't need to base64 encode BCrypt hashes ("$2a..") again.

[2016-02-19 16:52] hjacobs commented on #19
Done, deployed, works :smile:

[2016-02-19 16:52] #19 closed

[2016-02-19 16:52] hjacobs opened #20 "Support Cassandra Client Authentication"
Required for this change: https://github.com/zalando/planb-cassandra/issues/7

[2016-02-19 19:32] hjacobs opened #22 "Consider using consistency level EACH_QUORUM for Cassandra writes"
See https://github.com/zalando/planb-revocation/issues/29

[2016-02-19 19:33] hjacobs commented on #22
Writes are not in the critical path (writes are only triggered by async jobs), so we can go with `EACH_QUORUM` I think.

[2016-02-20 16:06] lmineiro opened #23 "Set the correct content type in the jwks_uri"
While `.well-known/openid-configuration` correctly sets the correct Content-Type `application/json` the JWKS endpoint `oauth2/v3/certs` sets it as `text/html`.

[2016-02-22 11:45] jbellmann commented on #20
[z3 of custom cassandra-maven-plugin](https://github.com/zalando/cassandra-maven-plugin/releases/tag/cassandra-maven-plugin-2.1.7-z3) was released. So maybe you can try it with authentication.

[2016-02-23 11:23] hjacobs opened #24 "Support reading the realm name from the "Host" header"
We should support using the "Host" header to find the "realm" to use, e.g. a URL like "https://token.services.example.org" would automatically use the realm "/services" for token creation.

[2016-02-23 14:55] harti2006 opened #25 "Default scopes, configurable per realm"
Each realm should have default scopes, in case a token is requested without explicit scope parameter.

[2016-02-23 14:56] harti2006 opened #26 "Remove sensitive data from error message"
...e.g. customer email (username)

[2016-02-23 17:16] harti2006 commented on #25
All default scopes are automatically authorized, even if they are requested explicitly.

[2016-02-23 17:39] #20 closed

[2016-02-24 09:40] hjacobs opened #28 "Add "Integration Documentation""
Document on how to integrate with Plan B Provider, Token Info and Revocation Service:
- Supported grant types
- Access Token / JWT format
- Refresh Token (not supported!)
- API for credential rotation
- Revocation
- ...

[2016-02-24 19:52] lukasniemeier-zalando opened #30 "Forced Scopes - configurable per realm"
Similar to what is suggested in #25 it would be helpful to configure _forced scopes_. A _forced scope_ is added regardless of the list of requested scopes.

Simplest use case would be always adding a `uid` scope (which is backed by some kind of token issuer identifier), to allow tracking token ownership.

The feature has been discussed and is currently requested in the [non-legacy](https://github.

[2016-02-24 19:56] #26 closed

[2016-02-24 20:45] #25 closed

[2016-02-24 22:27] hjacobs commented on #24
Really straight forward approach would be:

* add helper method in `RealmConfig` to find correct real name from `Host` header
* simply iterate over the configured realm names (e.g. "/services" and "/customers") and try to regex-match it enclosed in word boundaries ("\b") with the `Host` header value

[2016-02-24 22:29] hjacobs commented on #23
Fixed and deployed:

[code]

[2016-02-24 22:29] #23 closed

[2016-02-24 22:30] hjacobs commented on #6
@harti2006 we should still do this...

[2016-02-25 11:54] harti2006 opened #31 "Fix error codes / responses"
Error messages for failed token requests should be like this:

### Invalid scope
[code]

### Unsupported grant type
[code]

### Invalid grant
[code]

### Invalid client
[code]

[2016-02-25 12:37] hjacobs commented on #31
:+1:

[2016-02-25 12:39] hjacobs commented on #24
This issue was created to be compatible with our existing OAuth provider which supports mapping domain names to realms, i.e. the "realm" parameter is optional.

[2016-02-25 13:21] #24 closed

[2016-02-25 18:25] #31 closed

[2016-02-25 18:27] hjacobs commented on #22
We will use `LOCAL_QUORUM` for writes now.

[2016-02-25 19:05] hjacobs opened #34 "Validate client and user hashes to be valid BCrypt values starting with "$2""
We should validate all incoming hash values to be supported BCrypt hashes (e.g. they must start with "$2").

[2016-02-25 20:41] hjacobs commented on #6
We are now introducing a "user_password_hash" UDT (see #35).

[2016-02-25 21:20] #34 closed

[2016-02-25 21:21] hjacobs commented on #6
The auditing columns still need to be properly filled with the acting user's ID..

[2016-02-26 09:35] hjacobs opened #36 "BCrypt hashes are logged"
[code]

[2016-02-26 09:39] hjacobs opened #37 "NPE"
[code]

[2016-02-26 14:05] harti2006 opened #38 "Document error cases in api.yaml"

[2016-02-26 15:03] hjacobs opened #39 "Sync API accepts "null" as scopes"
User's scope map should never be "null"  --- REST API should validate.

[2016-02-26 16:29] hjacobs commented on #38
:+1:

[2016-02-27 16:18] hjacobs opened #40 "Reduce JWT token size"
Current (test) token looks like:

[code]

These are 314 characters.

The header contains:

[code]

The payload contains:

[code]

=> We can remove the "uid" claim as the UID (or customer number) is already contained in the JWT subject ("sub").

[2016-02-27 16:39] hjacobs commented on #40
We can also remove the "typ" (Type) JOSE header parameter, see https://tools.ietf.org/html/rfc7519#section-5.1

[2016-02-27 17:08] hjacobs commented on #40
Test token after reduction:

[code]

These are now 269 characters.

The header contains:

[code]

The payload contains:

[code]

[2016-02-27 18:25] hjacobs commented on #40
We still have an unnecessary backslash escape for the forward slash ("/") --- we should get rid of it...

[2016-02-27 19:08] hjacobs commented on #40
The unnecessary backslash was removed by using the correct `JsonStyle.LT_COMPRESS`:

[code]

The full JWT test token is now 268 characters long.

[2016-02-27 21:19] lmineiro commented on #40
:+1:

[2016-02-29 19:32] hjacobs opened #41 "Consider returning "expires_in""
`expires_in` is used by our tokens library: https://github.com/zalando-stups/tokens/blob/master/src/main/java/org/zalando/stups/tokens/AccessTokenResponse.java#L29

[2016-02-29 19:45] hjacobs commented on #41
Actually the Provider already return the `expires_in` field:

[code]

[2016-02-29 19:46] hjacobs commented on #41
@lmineiro just FYI.

[2016-02-29 19:46] #41 closed

[2016-03-01 18:06] lmineiro commented on #22
After discussing this with @Jan-M we both agreed that this should be changed to `EACH_QUORUM`.

The mint bucket(s) will most probably get the new credentials although we're not guaranteeing that all DCs/regions have valid data.

[2016-03-01 18:06] Jan-M commented on #22
:+1:

[2016-03-01 18:43] hjacobs commented on #22
OK, will change it :-)

[2016-03-01 18:45] #22 closed

[2016-03-01 18:53] #6 closed

[2016-03-01 18:54] hjacobs opened #43 "Log successful token creations"
To help debugging and see how services migrate to JWT tokens.

[2016-03-01 19:19] hjacobs commented on #43
I decided on the following log message:
[code]

[2016-03-01 21:13] hjacobs opened #44 "Allow non-confidential clients to authenticate without client_secret"
Non-confidential (public) OAuth clients (such as YOUR TURN) need to get JWT tokens too. This is used e.g. in Taupage: https://github.com/zalando-stups/taupage/blob/master/runtime/usr/local/lib/python3.4/dist-packages/taupage/__init__.py#L179

[2016-03-01 21:24] hjacobs commented on #44
This is allowed per RFC, see https://tools.ietf.org/html/rfc6749#section-4.3.2

   credentials (or assigned other authentication requirements), the
   client MUST authenticate with the authorization server as described
   in Section 3.2.1.

[2016-03-02 06:19] hjacobs commented on #43
We should reconfigure the log to include client IP addresses (don't forget to honor proxies like LBs)

[2016-03-02 08:14] harti2006 opened #45 "Authenticate service realm clients with user credentials"
Service users should only be allowed to authenticate, if client and user fit together.
E.g.: If we have two services configured: app-hello and app-world, and there is a client and a user for each of the apps. It should only be allowed for app-hello user to authenticate using the app-hello client. Or in other words: An access token request using the client credentials of app-hello with the user cre

[2016-03-02 08:16] harti2006 commented on #44
We should also consider #45 to not introduce a security issue here.

[2016-03-02 11:35] hjacobs opened #46 "Allow passing client credentials via JSON request body"
https://tools.ietf.org/html/rfc6749#section-2.3.1

   client credentials in the request-body using the following
   parameters:

         REQUIRED.  The client identifier issued to the client during
         the registration process described by Section 2.2.

         REQUIRED.  The client secret.  The client MAY omit the
         parameter if the client secret is an empty string.

   parameters i

[2016-03-02 15:41] hjacobs opened #48 "Allow client_secret containing colon ":""
Max split missing here: https://github.com/zalando/planb-provider/blob/master/src/main/java/org/zalando/planb/provider/OIDCController.java#L63

[2016-03-02 15:41] hjacobs commented on #46
Works, deployed into production :smile:

[2016-03-02 15:41] #46 closed

[2016-03-02 18:34] #48 closed

[2016-03-02 18:35] hjacobs commented on #40
All nice and shiny, closing this :tada:

[2016-03-02 18:35] #40 closed

[2016-03-02 18:36] hjacobs commented on #45
Sounds reasonable, let's discuss this :smile:

[2016-03-02 19:58] vetinari commented on #45
You want to break the tokens-api? ;-) Hopefully that's the only exemption...

[2016-03-02 20:25] hjacobs commented on #45
@vetinari I see your use case :smirk:

[2016-03-03 22:57] hjacobs opened #50 "Implement Authorization Code Grant Flow"
http://tools.ietf.org/html/rfc6749#section-4.1

[2016-03-03 22:58] hjacobs commented on #50
First hack available in https://github.com/zalando/planb-provider/tree/authorization-code-grant

[2016-03-03 22:59] hjacobs opened #51 "Implement Upstream User Realm"
Allow configuring realms with upstream authentication, i.e. where the user's credentials are checked against some upstream HTTP/OAuth service.

[2016-03-03 22:59] hjacobs commented on #51
First hack implemented in https://github.com/zalando/planb-provider/tree/authorization-code-grant

[2016-03-07 00:14] hjacobs opened #52 "Implement OpenID Connect Provider"
As defined in http://openid.net/specs/openid-connect-core-1_0.html

[2016-03-07 00:20] hjacobs commented on #52
I think we should issue a different JWT as `id_token`, because the ID token requires a lot more information (`aud`, some full URL in `iss`, see http://openid.net/specs/openid-connect-core-1_0.html#IDToken) --- we don't want to expand the access token just to satisfy requirements for the ID token :smirk:

[2016-03-08 10:26] harti2006 opened #53 "Use a syslog friendly log format"
I would suggest to use the [same log format](https://github.com/zalando-stups/friboo/blob/master/resources/log4j2.xml) as in friboo apps, because:

- it's optimized for syslog (omit the timestamp, as it will be prepended anyway)
- there are existing ZMON checks to watch for WARN and ERROR that could be re-used

[2016-03-08 10:47] hjacobs commented on #53
Let's don't call it "optimized for Scalyr" --- the timestamp is actually added by Syslog, i.e. removing the timestamp makes sense when using Docker with the syslog logging driver.

[2016-03-08 16:43] hjacobs commented on #28
I created a new repository with Plan B documentation: https://github.com/zalando/planb-docs

The HTML docs are automatically built and available at http://planb.readthedocs.org/

[2016-03-09 19:39] hjacobs opened #55 "Implement Implicit Grant Flow"
https://tools.ietf.org/html/rfc6749#section-4.2

[2016-03-10 20:26] hjacobs commented on #55
The implicit grant should only be allowed for non-confidential ("public") OAuth clients.

[2016-03-10 20:33] hjacobs opened #57 "Do not issue "id_token" if "openid" scope is not requested"
We do not need to issue OIDC tokens ("id_token") if the "openid" scope was not requested by the client.

[2016-03-11 06:18] harti2006 commented on #55
Why for public clients only? The RFC says this flow is "optimized for public clients", but not exclusive to them. Or am I missing something?

[2016-03-11 08:42] hjacobs commented on #55
@harti2006 I think the implicit flow should be explicitly enabled as the implicit grant exposes the access token to the user (this might not be wanted). See also http://tools.ietf.org/html/rfc6749#section-10.2

   possible.  If the authorization server cannot authenticate the client
   due to the client's nature, the authorization server MUST require the
   registration of any redirection URI used

[2016-03-11 18:13] hjacobs opened #58 "Make realms configurable"
Realms should be completely configurable, right now we have hardcoded "/services", "/employees" and "/customers" in https://github.com/zalando/planb-provider/blob/master/src/main/java/org/zalando/planb/provider/RealmConfig.java .

[2016-03-11 21:24] hjacobs opened #60 "Make templates configurable"
Make login and consent HTML templates configurable.

This should easily be possible as the Thymeleaf template path can be set via properties, see https://github.com/spring-projects/spring-boot/blob/5009933788f5f8c687719de6a697074ff80b1b69/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/thymeleaf/ThymeleafProperties.java

[2016-03-11 22:43] jbellmann commented on #58
@hjacobs , there is a [branch](https://github.com/zalando/planb-provider/tree/realmPlugin) already. Was created before we had a working solution, so might not be what we really need at current state.But could be a way to make this completely pluggable.

[2016-03-13 17:53] #57 closed

[2016-03-13 21:20] hjacobs opened #63 "Implement user consent"
* Show consent screen after login form (`/oauth2/authorize`)
* Store consent in Cassandra
* Allow managing (including withdrawing) consents
* Allow configurable automatic consent for certain realms (e.g. "/services")

Example Cassandra table structure:

[code]

[2016-03-13 21:22] hjacobs commented on #58
Basic configuration (realm names and implementation classes) is now possible, I will have a look into the "plugin" branch.

[2016-03-13 21:22] hjacobs commented on #36
That's a problem of the Swagger-CodeGen autogenerated "toString" methods.

[2016-03-15 16:23] hjacobs opened #65 "Allow composite subject claim to store client ID or partner ID in JWT"
We need to allow binding issued tokens to 3rd party partners, this can be achieved by storing the client ID or some proprietary partner ID in the "sub" claim, e.g:

[code]

Where "mypartner123" is the "partner" ID and "myuser456" is the user ID (or customer number or ...).

[2016-03-15 16:24] hjacobs commented on #65
The benefit of this approach would be to not require any new features in Revocation Service (nothing to implement there).

[2016-03-15 16:25] hjacobs commented on #65
The disadvantage of this approach would be to not be able to revoke all tokens of a certain partner or user.

[2016-03-15 16:28] hjacobs commented on #63
Revoking user consent only needs to be supported via REST API for now.

[2016-03-15 16:37] hjacobs commented on #63
TODOs:

* Implement class CassandraUserConsentService to store and read user consents
* Implement consent screen with new "consent.html" template
 * Check Cassandra before attempting to show consent screen (only needs to be shown the first time)
 * Store consent in Cassandra (no checkbox "Save consent" needed)
* Implement withdrawal REST API which calls the CassandraUserConsentService and properly

[2016-03-15 16:43] hjacobs opened #66 "Implement Client Credentials Grant Flow"
https://tools.ietf.org/html/rfc6749#section-4.4

[2016-03-15 19:10] #53 closed

[2016-03-15 19:29] hjacobs commented on #63
Work started in https://github.com/zalando/planb-provider/tree/feature/63-implement-user-consent

[2016-03-15 19:33] hjacobs commented on #53
OK, log now looks like (including Syslog prefix):

[code]

[2016-03-15 19:35] hjacobs commented on #53
The new log is much more concise (and includes IP), the old log looked like:

[code]

[2016-03-15 20:44] hjacobs commented on #65
The standard way would be to store the client ID in the "aud" (audience) claim, see https://openid.net/specs/openid-connect-core-1_0.html#IDToken

[2016-03-15 20:48] hjacobs opened #67 "Support the "azp" scope to inject the client ID into JWT access tokens"
This would be a RFC-compliant way of adding the client ID to a JWT access token:

If a client requests an access token with a "scope" value which contains "azp", the Provider should issue a JWT access token including a "azp" (Authorized Party) claim containing the OAuth client ID.

NOTE: This issue is NOT about the OpenID Connect token which always must have the "aud" claim set (see https://openid

[2016-03-15 20:51] hjacobs commented on #65
I'm for implementing #67 and allowing "composite" revocations (which we probably need anyway because of potential colliding user IDs in different realms).

[2016-03-15 21:34] hjacobs commented on #65
Closing, this issue is obsolete with #67, see my last comment :smile:

[2016-03-15 21:34] #65 closed

[2016-03-15 21:35] hjacobs commented on #43
The client's IP address was implemented with #64.

[2016-03-15 21:35] #43 closed

[2016-03-15 22:00] matosf commented on #60
Just tested it and it works.

 No need to change code. We just need to set the necessary environment variable:

[code]

To be able to include external resources into the template (i.e. css, javascript, images, etc), it's also necessary to set the following environment variable:

[code]

[2016-03-16 08:51] hjacobs commented on #60
@matosf cool, thanks.

[2016-03-16 10:36] hjacobs opened #68 "Limit allowed OAuth Grant Types by realm/client"
We might want to disable certain grant types for some realms/clients, e.g. disabling the "Resource Owner Password Credentials Grant" for human users.

See http://tools.ietf.org/html/rfc6749#section-4.3

   The authorization server should take special care when
   enabling this grant type and only allow it when other flows are not
   viable.

[2016-03-16 10:36] hjacobs commented on #68
To be discussed.

[2016-03-16 10:48] hjacobs commented on #67
I think we should use the "azp" (Authorized Party) claim instead of the "aud" (Audience) claim, as the audience claim is more generic and might contain a list of audiences  (both claims need to contain the client ID according to OpenID Connect 1.0).

[2016-03-16 12:33] #67 closed

[2016-03-16 17:17] harti2006 opened #70 "Health indicator for cassandra connectivity"
Additional to the existing health indicators (disk space, hystrix) there should another one, that checks for Cassandra connectivity. Maybe we can "lend" the implementation strategy here:

https://github.com/spring-projects/spring-boot/blob/master/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/health/CassandraHealthIndicator.java

[2016-03-16 18:18] hjacobs commented on #70
:+1:

[2016-03-18 10:17] Jan-M opened #74 "Cache client / user credentials to guard against very rare C* failure"
We should put some basic cache in place and thus improve on possible issues with the possibility of C\* being unavailable.

[2016-03-18 10:19] Jan-M commented on #74
This needs some thought on how we e.g. trigger / support rotations, so it is a bit more thinking than just 60min cache I guess.

[2016-03-18 14:47] vroldanbet opened #76 "Upon invalid_grant on mediatype=application/json, return 4XX instead of 200"
When user credentials are incorrect, a 200 OK is being returned by the backend. Return the correct status code 401.

[2016-03-18 14:49] vroldanbet opened #77 "provide an endpoint to accept consents"
Provide an endpoint to accept user consents is missing, which comes handy for things like single-page applications.

[2016-03-18 15:11] vetinari opened #78 "upstream compatibilty - add values to scopes (instead of just boolean true)"
Besides the "uid" scope, there's at least the "team" scope which has a meaningful value. Suggestion is to allow for some configurable scopes to carry a string value instead of the current boolean.

[2016-03-18 17:27] hjacobs commented on #78
@vetinari claims already can contain arbitrary values, but Token Info needs to expose these, see https://github.com/zalando/planb-tokeninfo/issues/23.

[2016-03-18 18:13] hjacobs commented on #77
?? I don't get what this issue is about, I think we have everything in place to support "single page" login "apps" which can do the POST request against /oauth2/authorize with "decision"="allow".

[2016-03-18 18:15] hjacobs commented on #76
Actually the backend does a redirect to the login form (status 302), it will only return status 200 if the "Accept" header specifies "application/json", in this case it returns a JSON with "redirect" property.

So I don't currently see where we have a bug?

[2016-03-18 18:21] hjacobs commented on #74
@Jan-M I would propose "never" caching user credentials, but only client credentials (more specifically only in CassandraClientRealm). User credentials might be validated against different upstream providers (upstream OAuth or Customer Service) and they must change instantly on user actions (e.g. customer changing the password).

[2016-03-18 18:38] vroldanbet commented on #76
@hjacobs I think the issue manifests itself when the credentials are incorrect.

[2016-03-18 18:40] vroldanbet commented on #77
@hjacobs alright, in that case this shall be closed!

[2016-03-18 18:40] #77 closed

[2016-03-21 10:31] danieldelhoyo opened #79 "Return Unauthorized instead of 200 when invalid credentials are provided"
If user provides invalid credentials, he's redirected to the login screen with "error=access_denied" and 200 response code.
Response code should be 401 for this use case

[2016-03-21 10:50] danieldelhoyo commented on #79
see #76

[2016-03-21 10:50] #79 closed

[2016-03-22 14:38] artdaw commented on #76
Let me try to explain in details what this 'bug' means for me. Since I have SPA and I send "Accept" header = "application/json" in case of wrong credentials I still have 200 response with redirect url pointing to the access denied page. From my point of view it is better to have a 401 response when I send "Accept" header = "application/json" and credentials are wrong cause it that case I can displ

[2016-03-22 14:40] danieldelhoyo commented on #76
for me it also makes sense to return a 401 for Accept header "application/json"
@hjacobs @vroldanbet any reason against it?

[2016-03-23 07:42] danieldelhoyo opened #80 "Organize the code in different package levels in order to improve readability"

[2016-03-29 15:17] #63 closed

[2016-03-29 17:05] vroldanbet commented on #76
See branch bug/76-return-4XX-upon-invalid-grant

[2016-03-30 09:53] vroldanbet commented on #76
+1

[2016-03-30 10:59] vroldanbet commented on #76
Fixed on commit 7a6616bb3dbeb884d3f599c12eff8441d51a9c65. Merged to master.

[2016-03-30 10:59] #76 closed

[2016-03-30 11:02] vroldanbet commented on #55
@hjacobs, this is already implemented, correct? Shall this be closed?

[2016-03-30 11:36] hjacobs opened #82 "Allow configuring default scopes per client"
It would be desirable to configure default scopes for specific clients to make the token creation call more convenient for the client (no need to specify the "scope" parameter, no need to change client's code).

[2016-03-30 11:42] hjacobs commented on #55
@vroldanbet yes, closing :smile:

[2016-03-30 11:42] #55 closed

[2016-03-30 16:25] danieldelhoyo commented on #60
@hjacobs this one can be closed, right?

[2016-03-30 16:28] #70 closed

[2016-03-30 16:29] hjacobs commented on #60
Yes, works out-of-the-box as described by @matosf  :smile:

[2016-03-30 16:29] #60 closed

[2016-03-31 12:32] vroldanbet commented on #50
@hjacobs, this is also implemented, right?

[2016-03-31 14:35] #50 closed

[2016-03-31 14:41] vroldanbet commented on #82
See https://github.com/zalando/planb-provider/pull/83

[2016-04-01 09:09] hjacobs opened #86 "CustomerUserRealm: grant all scopes allowed by the client"
We need to grant automatically all requested scopes when using the CustomerUserRealm (calling customer web service) if they are allowed by the client.

Example: client A uses implicit flow to get a token for customer X with scope "read-customer-profile", this scope can be used by resource servers for authorization. The scope "read-customer-profile" has no value here and is just used as a boolean f

[2016-04-01 09:51] #38 closed

[2016-04-01 09:51] danieldelhoyo commented on #38
fixed

[2016-04-01 10:02] hjacobs commented on #86
Obviously this would still involve the consent screen.

[2016-04-01 12:26] hjacobs opened #88 "Swagger API YAML base path is wrong"
This is primarily a "documentation" bug: the base path in the Swagger YAML is "/raw-sync/", but not all controllers actually are below this base path:

* /raw-sync/clients/...
* /consents/... (no "raw-sync" here)

This should be fixed by moving the base path into the individual paths (and fixing the ClientController annotation).

[2016-04-01 12:27] hjacobs commented on #88
I would even propose removing the base path "/raw-sync/" altogether (this would be a breaking change!)

[2016-04-01 12:38] danieldelhoyo opened #89 "Don't log full username on consent get and withdrawl"
see
https://github.com/zalando/planb-provider/blob/issue-86-customer-realm-scopes/src/main/java/org/zalando/planb/provider/ConsentController.java#L34

https://github.com/zalando/planb-provider/blob/issue-86-customer-realm-scopes/src/main/java/org/zalando/planb/provider/ConsentController.java#L48

[2016-04-01 12:41] hjacobs opened #90 "ConsentController "/consents/{realm}/{username}/{client-id}" does not work for realms with slashes"
We should look up the correct (full) realm name in RealmConfig (similar to what we do with the Host header).

[2016-04-01 12:46] hjacobs commented on #89
See also the more important bug #90

[2016-04-01 13:58] #86 closed

[2016-04-01 13:58] #82 closed

[2016-04-04 11:30] hjacobs opened #92 "Configurable token lifetime per realm"
Token lifetime must be configurable per realm, e.g. to set lifetime to 30 days for "/customers".

[2016-04-04 16:14] danieldelhoyo commented on #90
fixed

[2016-04-04 16:14] #90 closed

[2016-04-05 09:47] danieldelhoyo commented on #51
@hjacobs looks like this one can be closed :)

[2016-04-05 10:13] vroldanbet commented on #92
Merged into master, see https://github.com/zalando/planb-provider/pull/94

[2016-04-05 10:14] #92 closed

[2016-04-05 10:15] artdaw opened #96 "Add logo field for the client"
We need a string field to store base64 encoded image.

[2016-04-05 10:15] danieldelhoyo commented on #89
fixed

[2016-04-05 10:15] #89 closed

[2016-04-05 10:16] hjacobs commented on #96
Sounds reasonable, we should discuss whether we add individual Cassandra columns for the logo image and homepage URL (which also makes sense to have).

[2016-04-05 15:23] hjacobs commented on #96
I would propose adding two fields to the `client` table:

* `image_uri`: optional image URI which can be a Data URI with Base64 encoded image data (if this is really needed, otherwise it can point to any publicly available image)
* `homepage_url`: optional homepage URL for the application

[2016-04-05 15:24] hjacobs commented on #96
I'm not sure whether storing base64-encoded image data in Cassandra is such a great idea..

[2016-04-05 15:40] artdaw commented on #96
@hjacobs well, we just want to avoid security errors in case of publicly available images

[2016-04-06 09:35] harti2006 opened #98 "Do not log http client mistakes on error level"
e.g. this happened today:
[code]

[2016-04-06 14:17] harti2006 commented on #96
Actually I like hjacobs idea of "Data URIs" in your case: https://en.wikipedia.org/wiki/Data_URI_scheme

@artdaw would that be feasible for you?

[2016-04-06 15:33] matosf commented on #96
The base64 encoded image we where talking about is the Data URI with Base64 encoded image data that hjacobs better explained, so yes @harti2006, that is OK for us.

[2016-04-07 10:29] vroldanbet commented on #96
+1 to Data URI :)

[2016-04-07 10:30] vroldanbet commented on #80
@midumitrescu Is this still work in progress? Otherwise please remove the corresponding tag.

[2016-04-07 10:31] vroldanbet commented on #58
@hjacobs is this still work in progress?

[2016-04-07 15:22] hjacobs commented on #58
@vroldanbet I personally don't have more needs right now, but our "configuration" possibility is quite limited right now --- i.e. no easy way of including a completely new plugin.

[2016-04-08 12:20] matosf opened #99 "URL encoded parameters in authorize endpoint"
If URL encoded parameters are use in the authorize endpoint, like:
https://host/oauth2/authorize?realm=%2Ftestrealm&response_type=token&client_id=testclient&redirect_uri=http%3A%2F%2Fhost%2Fdummy-callback%2Foauth

instead of:
https://host/oauth2/authorize?realm=/testrealm&response_type=token&client_id=testclient&redirect_uri=http://host/dummy-callback/oauth

When trying to login I will always get

[2016-04-08 13:20] matosf opened #100 "grant_type on token is incorrect when using Implicit flow"
1. Go to:
https://provider-host/oauth2/authorize?realm=/testrealm&response_type=token&client_id=testclient&redirect_uri=http://host/dummy-callback/oauth
2. Login and get the token.
3. Go to: https://tokeninfo-host/oauth2/tokeninfo?access_token=TOKEN
4. Response has grant_type: password instead of token.

[2016-04-08 14:41] hjacobs commented on #100
Actually we don't even store the "grant_type" in the token, so I would rather remove it from the Token Info endpoint (which we should not do because of compatibility) or do nothing.

I don't want to grow the token size just to store the "grant_type" (which nobody really uses anyway) :smirk:

[2016-04-08 14:49] matosf commented on #100
Since AFAIK the tokeninfo endpoint is not part of the OAuth2 standard, we can change the response to include just what we need.

Since nobody uses the "grant_type", I would also just drop it from the response.

[2016-04-08 14:51] hjacobs commented on #99
@matosf sorry, but this seems to be a problem in your special (Zalando-internal) JS frontend template which does not use the parameters from the server (Thymeleaf template values like in https://github.com/zalando/planb-provider/blob/master/src/main/resources/templates/login.html#L26), but instead parses the browser location URL.

I would propose either doing correct processing of the browser's UR

[2016-04-08 14:53] hjacobs commented on #100
@matosf we could probably just wait for the new OAuth Introspection Endpoint to be implemented: https://github.com/zalando/planb-tokeninfo/issues/32 --- that is completely different (requires app changes!) and would remove all the legacy response structures (e.g. truthy scope attributes).

[2016-04-08 15:02] matosf commented on #100
@hjacobs seems good to me

[2016-04-08 15:02] #100 closed

[2016-04-08 16:41] vroldanbet commented on #58
@hjacobs should we remove the work in progress tag at least then?

[2016-04-08 16:42] hjacobs commented on #58
@vroldanbet yes, done. I'm actually closing this issue and will open a new one.

[2016-04-08 16:42] #58 closed

[2016-04-08 16:45] hjacobs opened #102 "Consider supporting realm plugins"
It might make sense to support plugins for realm authentication, e.g. one could imagine:

* custom plugin to authenticate against LDAP or Active Directory
* simple plugin to authenticate against some HTTP endpoint with Basic Auth
* ...

[2016-04-08 16:46] hjacobs commented on #102
This is a follow-up issue to #58

[2016-04-10 08:01] matosf commented on #99
@hjacobs
Both Thymeleaf and JS Front-Ends parse the values they will POST from the URL query parameters.

The difference is that in the Thymeleaf version it URL decodes the values before setting them as form parameters. This fixes the problem because the server side will always get the decoded value.

Ideally the server side should handle the decoding, so it would work either way, but from what I

[2016-04-10 08:01] #99 closed

[2016-04-11 09:07] matosf opened #105 "Implicit Flow callback URL parameters"
Hi,

Using Implicit Flow, in the consent screen, these are the URLs the user gets redirected to if he clicks Allow/Deny:

http://localhost:8080/callback**?**access_token=JWT_TOKEN&token_type=Bearer&expires_in=28800&scope=uid&state=

http://localhost:8080/callback**?**error=access_denied&state=

This URL comes from the server in the Location header.

There is an issue with this URL, because the OAu

[2016-04-11 09:41] hjacobs commented on #105
@matosf you are right, the Authorization Code Grant flow uses query parameters (https://tools.ietf.org/html/rfc6749#section-4.1.2), but Implicit Grant flow not.

[2016-04-11 09:46] matosf commented on #105
submitted PR: https://github.com/zalando/planb-provider/pull/106

[2016-04-11 10:50] #105 closed

[2016-04-13 07:30] #96 closed

[2016-04-13 08:00] hjacobs opened #108 "Remove Lombok"

[2016-04-13 08:06] harti2006 commented on #108
In favor of [Immutables](http://immutables.github.io/)?

[2016-04-13 08:16] hjacobs commented on #108
@harti2006 I don't know --- I just know what I don't want (Lombok) :smirk:

[2016-04-13 08:42] jbellmann commented on #108
So, what let you know that you don't want it?

[2016-04-13 08:46] gargravarr commented on #108
Big +1 to this one. Check [here](https://github.com/zalando/planb-revocation/pull/89).

[2016-04-13 08:48] hjacobs commented on #108
@jbellmann I think the Lombok "convenience" (e.g. not having to write getters/setters) is achievable in a different way without having to install some stupid IDE plugin. I like to use "vanilla" IDEs :smile:

[2016-04-13 08:54] jbellmann commented on #108
@hjacobs yes you are right, I hate that too.
@gargravarr in the ticket you referenced you mentioned 'missing support for Builders', did you read the [docs](https://projectlombok.org/features/Builder.html)?

[2016-04-13 09:02] gargravarr commented on #108
@jbellmann I did. I had issues with creating Builders with some fields with default values - and the IntelliJ plugin was not helping.

For this use case, Immutables has a much elegant approach for it IMHO. Check [here](http://immutables.github.io/immutable.html#default-attributes).

[2016-04-13 09:03] midumitrescu commented on #108
Hello Henning,

Do you have also a reason for that?
On Apr 13, 2016 10:16 AM, "Henning Jacobs" <notifications@github.com> wrote:

[2016-04-13 12:27] danieldelhoyo commented on #98
closed on #109

[2016-04-13 12:27] #98 closed

[2016-04-14 11:56] harti2006 opened #111 "Avoid "SELECT *" in prepared Cassandra queries"
Because this will break prepared statements when changes are applied to tables (add/drop columns, changing data types, ...)

[2016-04-14 13:35] #111 closed

[2016-04-14 13:35] hjacobs commented on #111
@harti2006 can you check planb-revocation, too?

[2016-04-14 13:41] gargravarr commented on #111
@hjacobs there are none :stuck_out_tongue_closed_eyes:

[2016-04-18 11:25] matosf opened #113 "Default scopes for service clients does not work via resource owner password grant"
For clients with /services realm and service user, the default scopes are not being included in the created token when no scopes are passed in the request (at least using grant_type=password).

[2016-04-18 11:27] vroldanbet commented on #113
Thanks @matosf. Just created a issue that reproduces the problem: default scopes is not working for Resource Owner Password grant.

[2016-04-18 13:09] vroldanbet opened #115 "token_type is not present in the body of resource owner password grant response"
Our tests pass, but executing the request against the provider returns no token_type.

[2016-04-18 13:11] vroldanbet commented on #115
This issue was introduced with the introduction of Lombok: our tests deserialize the response to the actual pojo representation via default constructor, which does initialize the object with the default value, making our tests fail. The issue arises on the usage of the builder, which does not initialize it!

[2016-04-18 13:12] matosf opened #116 "tokeninfo endpoint is not considering revocations"
After creating a revocation on a customer token, tokeninfo call is still considering the token as valid.

If you need script to replicate please ping me.

[2016-04-18 13:23] matosf commented on #116
moved issue to the right repo: https://github.com/zalando/planb-tokeninfo/issues/51

[2016-04-18 13:23] #116 closed

[2016-04-20 12:18] vroldanbet commented on #113
Available in master.

[2016-04-20 12:18] #113 closed

[2016-04-20 12:55] vroldanbet commented on #115
Available in master

[2016-04-20 12:55] #115 closed

[2016-05-02 12:26] hafizh opened #119 "Client credentials grant type support"
In Fashion store apps we have a use case similar to a guest user. Without authentication, user can use the functionality that doesn’t have any customer resource data or any personalisation features. Such functionality includes plain catalog navigation, inspiration content or generic my feed, etc. To support such a use case, it would make sense for us to have the support for client credentials flow

[2016-05-02 12:27] hafizh opened #120 "Refresh token support"
In Fashion store apps we have a requirement to keep the user logged in almost all the time (except checkout). So, once a guest user has logged in, we should almost never ask them to login again. I think we can achieve this with a refresh token. The refresh token would then have a wide scope for the whole app functionality, except checkout. Checkout would have a separate scope, and no refresh token

[2016-05-03 09:45] danieldelhoyo commented on #119
This is a duplicate of #66

[2016-05-03 13:00] hafizh commented on #66
+1

[2016-05-04 09:18] #119 closed

[2016-05-13 16:33] vroldanbet opened #122 "5XX on requests with malformed Authorization header"
Passing invalid base64 values as part of the authorization header of a request leads to 5XX. The application should return 4XX error indicating the provided value was invalid.

[2016-05-17 09:22] vroldanbet commented on #122
Fixed after https://github.com/zalando/planb-provider/pull/123

[2016-05-17 09:22] #122 closed

[2016-05-30 15:59] vroldanbet commented on #108
Is this still work in progress, @gargravarr

[2016-06-20 15:45] danieldelhoyo opened #126 "Add single quotes to application name on ClientRealmAuthorizationException when application is not allowed to request scopes"
In order to have homogeneous logs, since ClientRealmAuthenticationException and UserRealAuthenticationException already show the application client/user between quotes, same should happen for ClientRealmAuthorizationException
[code]

[2016-06-21 10:40] danieldelhoyo commented on #126
addressed in #127

[2016-06-21 10:40] #126 closed

[2016-06-24 15:24] vroldanbet commented on #44
@hjacobs @harti2006 I'd say this works as part of the implicit flow since looong time ago :) Shall we close it?

[2016-07-20 10:17] #51 closed

[2016-07-25 08:47] matosf opened #128 "Support query parameters in redirect_uri"
As defined by https://tools.ietf.org/html/rfc6749#section-3.1.2:

   "application/x-www-form-urlencoded" formatted (per Appendix B) query
   component ([RFC3986] Section 3.4), which MUST be retained when adding
   additional query parameters.

I understand this statement as we could have configured a redirect_uri like so:
[code]

And use a authorize URL like so:
[code]

And the passed query parame

[2016-07-25 09:08] vroldanbet commented on #128
@matosf , legit request!

[2016-07-28 14:13] gilvegliach commented on #66
+1

[2016-07-28 14:15] Otann commented on #66
+1

[2016-07-29 10:13] jbellmann opened #129 "Requests hang during token-refresh."
Regarding an issue in the [tokens-library](https://github.com/zalando/tokens/issues/52) we created a [new version](https://github.com/zalando/tokens/releases/tag/0.9.9-gh52-1) that could fix the issue.

Could you give it a try please and report back?

Thanks
Jörg

[2017-02-01 14:06] LappleApple opened #135 "Maintainers file seems outdated"
Can someone update if needed to provided correct info?

[2017-02-02 12:36] #129 closed

[2017-02-02 12:36] vroldanbet commented on #129
there is no token refresh in planb provider

[2017-02-02 12:36] vroldanbet commented on #108
won't remove lombok for the time being

[2017-02-02 12:36] #108 closed

[2017-02-02 12:38] vroldanbet commented on #36
confirmed this is still happening

[2017-02-02 12:39] #44 closed

[2017-02-07 11:50] LappleApple commented on #102
@hjacobs @jbellmann @harti2006 Can we close this issue? It dates back to April 2016.

Or, we could add a "Help Wanted" label so someone can pick up the work and help you out.

[2017-02-07 11:54] LappleApple commented on #88
@hjacobs @harti2006 @jbellmann Hey, can we close this issue? It dates back to April 2016.

Or, we could add a "Help Wanted" label.

[2017-02-07 12:00] LappleApple commented on #80
@vroldanbet Hey, can we close this issue? It's from March 2016.
Or, we could add a "Help Wanted" label.

[2017-02-07 12:01] #80 closed

[2017-02-07 12:44] LappleApple commented on #78
Hey @vetinari @hjacobs @vroldanbet @jbellmann @harti2006 Hey all, can we close this issue? It dates back to March 2016.

Or, we could add a "Help Wanted" label.

[2017-02-07 12:45] LappleApple commented on #74
Hey @hjacobs @Jan-M @harti2006 @jbellmann @vroldanbet  Hey all, can we close this issue? It dates back to March 2016.

Or, we could add a "Help Wanted" label.

[2017-02-07 12:47] LappleApple commented on #68
Hi @hjacobs, was it discussed? Wondering if we can close this issue, it dates back to March 2016.

Or, we could add a "Help Wanted" label.

[2017-02-07 12:48] LappleApple commented on #39
Hey @hjacobs @vroldanbet @jbellmann @harti2006 Hey all, can we close this issue? It dates back to Feb 2016.

Or, we could add a "Help Wanted" label.

[2017-02-07 12:49] LappleApple commented on #37
Hey @hjacobs @vroldanbet @jbellmann @harti2006 Hey all, can we close this issue? It dates back to Feb 2016.

Or, we could add a "Help Wanted" label.

[2017-02-07 12:50] LappleApple commented on #30
@hjacobs @lukasniemeier-zalando @vroldanbet @jbellmann @harti2006 Hey all, can we close this issue? It dates back to Feb 2016.

Or, we could add a "Help Wanted" label.

[2017-02-07 12:55] #37 closed

[2017-02-07 12:57] #74 closed

[2017-02-07 12:57] #78 closed

[2017-02-07 13:00] LappleApple commented on #45
Hey @harti2006 @hjacobs @vetinari @vroldanbet Did you guys take action here, so that we can close the Issue?

[2017-02-07 13:05] LappleApple commented on #28
@hjacobs Does your work from March 2016 resolve the issue? If so, we can close. cc @vroldanbet

[2017-02-07 13:24] vroldanbet commented on #45
@harti2006 isn't this a consequence of planb-provider us using resource password grant? that's what the password grant is meant to do. This would be fixed by us using client grant instead, imho :)

[2017-02-07 13:29] harti2006 commented on #45
@vroldanbet I fully agree. Client credentials grant would be the proper way to go. Let's close this issue here.

[2017-02-07 13:29] #45 closed

[2017-02-07 13:34] #28 closed

[2017-02-07 14:00] LappleApple commented on #52
@hjacobs @vroldanbet Hey, do we still want this? If not, let's close ...

[2017-02-07 14:01] vroldanbet commented on #52
@LappleApple we don't need this feature right now

[2017-02-07 14:01] #52 closed

[2017-02-07 14:18] LappleApple commented on #128
Hi @vroldanbet, is this still a desired enhancement? If so, maybe "Help Wanted" it?

[2017-02-07 14:22] vroldanbet commented on #128
it is! :smile: